#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carousel .box {
  width: 88vw;
  min-width: 200px;
  height: 60vh;
  display: flex;
}

.box img[data-active="true"] {
  opacity: 1;
}

.box img[data-active="false"] {
  opacity: 0;
}

.box {
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}

.app img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  position: absolute;
  top: 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.6s linear;
}
