#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carousel .box {
  width: 88vw;
  min-width: 200px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.controls {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 10px;
}

.box img[data-active="true"] {
  opacity: 1;
}

.box img[data-active="false"] {
  opacity: 0;
}

.stepper {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  gap: 10px;
}

.box {
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}

.app img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  position: absolute;
  top: 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.6s linear;
}

.stepper button.active,
.stepper button:focus,
.stepper button:focus-visible {
  color: white;
  outline: 4px auto -webkit-focus-ring-color;
}
